* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    background: transparent;
    display: inline-block;
}

.container {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 400px;
}

header {
    background: #ffffff;
    border-radius: 4px;
    padding: 3px 40px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

.box {
    padding: 7px 11px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: 3px black solid;
    margin-right: 10px;
}

.shadow {
    color: #333;
    position: relative;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
}

.shadow::before {
    content: "Shadow";
    position: absolute;
    top: 2px;
    left: 2px;
    color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    filter: blur(3px);
}

.hero {
    width: 350px;
    padding: 15px;
    border: 2px black solid;
}

.wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

h3 {
    font-family: Roboto Mono;
    font-weight: 300;
    color: rgb(111, 23, 40);
    margin-bottom: 5px;
}

input[type="range"],
input[type="color"] {
    width: 100%;
    transition: all 0.4s ease;
    margin-top: 5px;
    margin-bottom: 24px;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

#box2 {
    width: 350px;
    height: 130px;
    padding: 25px 15px;
    border: 2px black solid;
    color: #6f1728;
}

#horizontal-shadow,
#vertical-shadow,
#oppacity,
#blur,
#spread {
    margin-bottom: 24px;
}

@media (max-width: 768px) {
 
    .container {
        flex-direction: column;
        gap: 20px;
    }
    .logo {
        font-size: 1.5rem;
    }
    .hero{
        flex-direction: column;
        width: 80%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #box{
        flex-direction: column;
        width: 80%;
        height: 330px;
        max-width: 100%;
        margin-bottom: 70px;
        
    }
    #box2{
        flex-direction: column;
        width: 80%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 15px;
        margin-top: 10px;
    }
    .logo {
        font-size: 1.2rem;
    }
    .hero {
        padding: 10px;
    }

    #box2 {
        width: 380px;
        height: 130px;
        padding: 25px 15px;
        border: 2px black solid;
        color: #6f1728;
        gap: 7px;
    }

}
